# Database parameters
POSTGRES_DB=short
POSTGRES_USER=short
POSTGRES_PW=link
POSTGRES_URL=postgres:5432

# Global parameters
FLASK_APP=app.py
FLASK_ENV=development
FLASK_RUN_HOST=0.0.0.0

# Specify domain (URL) you use to access the application and used for shortening link(s)
URL_APP=short.link:5000
